<% title "Variables" %>

<table>
  <tr>
    <th>Variable</th>
  </tr>

  Variables per page: 
  <%= select_tag :per_page, options_for_select([15,30,60], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
  <%= will_paginate(@variables) %>

  <% for variable in @variables %>
    <tr>
      <td><%=h variable.name %></td>
      <td><%= link_to "Show", variable %></td>
      <td><%= link_to "Edit", edit_variable_path(variable) %></td>
      <td><%= link_to "Destroy", variable, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Variable", new_variable_path %></p>
